{% extends 'base.html' %}

{% block content %}
<h2>Liste des Directeurs</h2>
<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    {% for directeur in directeurs %}
    <tr>
        <td>{{ directeur.nom }}</td>
        <td>{{ directeur.prenom }}</td>
        <td>{{ directeur.email }}</td>
        <td>
            <a href="{% url 'modifier_Directeur' directeur.id %}">Modifier</a>
            <a href="{% url 'supprimer_Directeur' directeur.id %}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce directeur ?');">Supprimer</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'ajouter_Directeur' %}">Ajouter un Directeur</a>
{% endblock %}
