{% extends 'base.html' %}

{% block content %}
<h2>Liste des Visiteurs</h2>
<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Actions</th>
    </tr>
    {% for visiteur in visiteurs %}
    <tr>
        <td>{{ visiteur.nom }}</td>
        <td>{{ visiteur.prenom }}</td>
        <td>{{ visiteur.email }}</td>
        <td>{{ visiteur.telephone }}</td>
        <td>
            <a href="{% url 'modifier_Visiteur' visiteur.id %}">Modifier</a>
            <a href="{% url 'supprimer_Visiteur' visiteur.id %}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce visiteur ?');">Supprimer</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'ajouter_Visiteur' %}">Ajouter un Visiteur</a>
{% endblock %}
