{% extends 'template_base.html' %}

{% block contenue %}

<div class="container mt-4">

    <!-- Modal pour afficher les résultats de la recherche -->
    <div class="modal fade show" id="modalSearchResults" tabindex="-1" aria-labelledby="modalSearchResultsLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog modal-lg"> <!-- Largeur augmentée -->
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modalSearchResultsLabel">Résultats de la recherche</h5>
                </div>
                <div class="modal-body">
                    {% if secretaires %}
                        <ul class="list-group">
                            {% for secretaire in secretaires %}
                                <li class="list-group-item">
                                    {{ secretaire.username }} - {{ secretaire.first_name }} {{ secretaire.last_name }} - {{ secretaire.email }}
                                    <a href="{% url 'secretaire:modifier' secretaire.id %}" class="btn btn-warning btn-sm float-end ms-2">Modifier</a>
                                  </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Aucun secrétaire trouvé pour "{{ query }}"</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <a href="{% url 'secretaire:Secretaire' %}" class="btn btn-secondary px-4 py-2 btn-sm">Annuler</a>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Script pour afficher le modal de façon automatique à la fin de la page -->
{% if secretaires %}
    <script>
        window.onload = function() {
            var myModal = new bootstrap.Modal(document.getElementById("modalSearchResults"), {
                keyboard: false
            });
            myModal.show();
        };
    </script>
{% endif %}

{% endblock %}
